<!doctype html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/layout.css">
        <title>Prjoject Description</title>
    </head>
    <body>
        <div id="container">
            <div id="header">
                {{> header }}
            </div>
            <div id="body">
                {{{body}}}
            </div>
            <div id="footer">
                {{> footer }}
            </div>
        </div>
    </body>
</html>
