<div>
    {{#jsonDescription}}
        <div id ="title">{{name}}</div>
        <p>{{description}}</p>
        <div>
            Go to the project:
            <a href = {{link}}>{{name}}</a>
        </div>
    {{/jsonDescription}}
</div>
