<!doctype html>
<html>
<head>
    <title>Projects</title>
</head>
<body>
    <li>
        {{#myProjects}}
            <ul> <a href = {{url}}/description>{{name}}</a></ul>
        {{/myProjects}}
    </li>

</body>

</html>
